.nav{
    display: flex;
    flex-direction: row;
    
    width: 75%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
#imagensportit{
    height: 23px;
}
#imagenvector{
    height: 35px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imagentennis{
    width: 80%;
    margin: 10%;
}
.imagendiv{
    display: flex;
    width: 80%;
    align-items: end;
    justify-content: right;
    margin: 0px 10px 0px 0px;
}
.divImg{
    display: flex;
    align-items: end;
    justify-content: end;
}
.imagentextoimg{
    margin: 10px;
    margin-top: 20px;
    width: 95%;
}
.buttonStyle{
    padding: 10px 28px;
    margin-right: 10px;
    border: 1px solid #8B48BF;
    border-radius: 18px;
    color: white;
    background-color: #8B48BF;
} 
.containerbutton{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.containerNum{
    margin-top: 30px;
}

.containceleste{
    color: white;
    background-color: #3CDDF3;
    padding: 20px;
    margin-top: 20px;
    margin: 0px !important;
    height: 240px;
    width: 90%;
}
.letra1{
    padding-top: 30px;
    padding-right: 17px;

    font-size: 15px;
}
.contenedornum{
    padding: 10px;
}
.numero{
    display: inline-flex;
    background-color: #8B48BF;
    border: 3px solid #8B48BF;
    border-radius: 17px;
    padding: 7px 20px;
    color: white;
    position: absolute;
}

.titulo{
    display: inline-flex;
    padding-left: 44px;
    font-size: 19px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 20px;
    background-color:rgba(139, 72, 191, 0.3);
    position: relative;
}
.titulo2{
    display: inline-flex;
    padding-left: 44px;
    font-size: 19px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 70px;
    background-color:rgba(139, 72, 191, 0.3);
    position: relative;
}
.titulo3{
    display: inline-flex;
    padding-left: 44px;
    font-size: 19px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 0px;
    background-color:rgba(139, 72, 191, 0.3);
    position: relative;
}
.descripcion{
    margin: 0 30px;
    color:rgba(179, 178, 183, 1);
}
.colorcito{
    color:  rgba(36, 46, 83, 1);
    text-align: center;
}
.imagenredonda{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 999px;
}
.colorParrafo{
    color:rgba(185, 185, 193, 1);
    margin: 30px;
    text-align: center;
}
.ordenarBoton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrarget{
    text-align: center;
}
.containceleste2{
    text-align: center;
    color: white;
    background-color: #3CDDF3;
    padding: 30px;
    margin: 0px 0px !important;
    height: 200px;
    width: 85%;
}
.azulcito{
    margin: 20px;
    padding: 10px 20px;
    color: white;
    background-color: rgba(35, 44, 80, 1);
    border: 1px solid rgba(35, 44, 80, 1);
    border-radius: 18px;
}
.barra{
    padding-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 38, 1);
    width: 100%;
    padding-bottom: 30px;
}
.input1{
    padding: 7px;
    border-radius: 20px;
    width: 180px;
    padding-bottom: 10px;
}
.buttonStyle3{
    padding: 10px 28px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #8B48BF;
    border-radius: 18px;
    color: white;
    background-color: #8B48BF;
} 

.back{
    background-color: rgba(30, 30, 38, 1);
}
.footer1{
    
    background-color: rgba(30, 30, 38, 1);
    display: flex;
    justify-content: space-between;
}
.lis {
    
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: justify;
    width: 100px;
    padding-left: 20px;
}
.nolis {
    padding-right: 50px;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    width: 100px;
}

footer > ul > li  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;

}


.back{
    background-color: rgba(30, 30, 38, 1);
    display: flex;
    padding: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;

}
.copyrightgas{
    text-align: center;
    color:rgba(140, 140, 148, 1);
    padding-bottom: 30px;
}
.imagen1{
    padding-bottom: 30px;
}
.back3{
    padding: 30px;
    background-color: rgba(30, 30, 38, 1);
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.oculto{
    display: none;
}
.mask{
    display: none;
}
.boton2{
    display: none;
}
.input1{
    display: flex;
}
.buttonStyle3{
    display: flex;
}